<footer class="premium-footer">
  <div class="container">
    <div class="footer-content">
      <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-whatsapp"></i></a>
    </div>
    <div class="copyright">
      <p>&copy; 2024 Musical Store. All Rights Reserved. Developed by Sumit Kumar.</p>
    </div>
  </div>
</footer>